          <div class="pane-one left pagechange" data-page-0>
            <!--side的基本样式-->
            <div class="base-side" data-page-1>
                <!--头-->
                <header data-am-widget="header" class="am-header am-header-whatsapp">
                    <div class="am-header-left am-header-nav" data-page-2-in >
                        <img class="am-circle main-user-head" src="./img/user1.png">
                    </div>

                    <div class="am-header-right am-header-nav">
                        <!--那个图标暂时拿这一个图标代替，因为它不是font-awsome的图标-->
                        <button data-page-3-in class="am-header-icon icon icon-chat header-right-item"></button>
                        <button class="am-header-icon icon icon-menu header-right-item side-header-menu" ></button>
                    </div>
                </header>
                
                <!--通知框-->
                <div class="tipsbox">
                </div>

                <!--搜索框-->
                <div class="searchbox">
                  <button data-searchbox-focus class="am-icon-search search-btn left otrans"></button>
                  <div data-searchbox-placehoder data-searchbox-focus class="search-placeholder left">搜索或开始新的对话</div>
                  <label data-searchbox-lable class="search-label am-radius">
                    <button data-searchbox-back class="icon icon-back-blue left searchbox-back otrans"></button>
                    <input data-searchbox-focus data-searchbox-input class="search-input"></input>
                    <!-- <button data-searchbox-clear class=""></button> -->
                  </label>
                </div>
                 
                <div class="pane-one-body">
                  <div class="chat-list">
                  </div>  
                </div>
                
            </div>
            <!--侧滑栏的基本样式-->
            
            <!--第一层-->
            <div class="extend-side" data-page-2 >
              <!--侧边栏的头-->
              <div class="extend-header">
                <div class="extend-back-btn left">
                  <i data-page-2-out class="icon icon-back-light"></i>
                </div>
                <div class="extend-title left ">
                  个人资料及状态
                </div>
              </div>
              <div class="extend-body">

                  <div class="user-info">
                    <div class="user-head am-circle user-head-edit">
                      <div class="user-head-mask">
                        <span>
                        <i class="am-icon-camera"></i>
                        <br>更改个人头像
                        </span>
                        <input type="file"></input>
                      </div>
                      <img class="am-circle" src="./img/user1.png">
                    </div>
                    
                    <div class="user-info-body">
                      
                      <div class="wa-editpane" id="username-ep">  
                      </div>

                      <div class="user-info-tip">
                        这并非您的用户名或个人识别码，它将被您的 WhatsApp 的联系人可见。
                      </div>

                      <div class="wa-editpane uneditable" id="state-ep"></div>
                                    
                    </div>
                  
                  </div>

              </div>
            </div>

            <div class="extend-side" data-page-3 >
              <!--侧边栏的头-->
              <div class="extend-header">
                <div class="extend-back-btn left">
                  <i data-page-3-out class="am-icon-arrow-left"></i>
                </div>
                <div class="extend-title left ">
                </div>
              </div>
              <div class="extend-body">
              </div>
            </div>
            

          </div>