          <div class="pane-three">
              <!--联系人资料-->
              <div class="contact-info">
                <!--头-->
                <header data-am-widget="header" class="am-header am-header-whatsapp">
                    <div class="am-header-left am-header-nav">
                      <div class="header-close left">
                        <a data-model-close href="javascript:" class="am-close">&times;</a>
                      </div>
                      <div class="header-body left">
                        联系人资料
                      </div>
                    </div>

                </header>
                <div class="contact-body">

                  <div class="user-info">
                    <div class="user-head am-circle user-head-uneditable">
                      <div class="user-head-mask">
                        <span>
                        <i class="am-icon-camera"></i>
                        <br>更改个人头像
                        </span>
                        <input type="file"></input>
                      </div>
                      <img class="am-circle" src="./img/user1.png">
                    </div>
                    
                    <div class="user-info-body">
                      
                      <div class="wa-editpane uneditable">
                        <div class="wa-editpane-title">你的名字</div>
                        <div class="wa-editpane-body">
                          <!--input组件-->
                          <div class="editpane-input clearfix">
                            <div contentEditable=false class="wa-editpane-input ">杨立</div>
                            <div class="wa-editpane-menu">
                              <span class="wa-editpane-num left">25</span>
                              <span class="wa-editpane-emoji am-icon-smile-o left"></span>
                              <span class="wa-editpane-edit am-icon-pencil left"></span>
                            </div>
                          </div>

                        </div>  
                      </div>

                      <div class="wa-editpane uneditable">
                        <div class="wa-editpane-title">状态</div>
                        <div class="wa-editpane-body">
                          <!--input组件-->
                          <div class="editpane-input clearfix">
                            <div contentEditable=false class="wa-editpane-input ">hei,i am in whatsapp</div>
                            <div class="wa-editpane-menu">
                              <span class="wa-editpane-num left">25</span>
                              <span class="wa-editpane-emoji am-icon-smile-o left"></span>
                              <span class="wa-editpane-edit am-icon-pencil left"></span>
                            </div>
                          </div>

                        </div>  
                      </div>

                    </div>
                  
                  </div><!--user-info结束-->

                </div>
              </div>
          </div>