<div class="pane-two left">
  <!--talk的基本样式-->
  <div class="base-chatbox">
    
    <!--头-->
    <header data-am-widget="header" class="am-header am-header-whatsapp">
        <div class="am-header-left am-header-nav">
            <div class="left">
              <img data-model-open class="am-circle main-user-head" src="./img/user1.png">
            </div>
            <div class="chatbox-header-userinfo left">
              <div class="boldword">+86 188 7878 3089</div>
              <div class="">最后上线于今天 <span class="greyword">14:28</span></div>
            </div>
        </div>

        <div class="am-header-right am-header-nav">
            <!--那个图标暂时拿这一个图标代替，因为它不是font-awsome的图标-->
            <button class="am-header-icon icon icon-clip header-right-item "></button>
            <button class="am-header-icon icon-menu icon header-right-item" ></button>
        </div>
    </header>
    
    <!--对话列表-->
    <div class="base-chatbox-body">
        <div class="pane-chat-empty"></div>
        <div class="message-list">
          <div class="msg">
            <div class="message message-system">
              <span class="message-system-body">
                昨天
              </span>
            </div>
          </div>
          <div class="msg msg-continution">
            <div class="message message-in message-chat">
                <span class="tail-container"></span>
                <div class="buble buble-text">
                  <span class="message-text">
                    你好呀，小伙伴
                  </span>
                </div>
                <div class="msg-info">
                  <span></span>
                  <span class="msg-time">09:50</span>
                  <span></span>
                </div>
            </div>
          </div>

          <div class="msg">
            <div class="message message-in message-chat">
                <span class="tail-container"></span>
                <div class="buble buble-text">
                  <span class="message-text">
                    你好呀，小伙伴
                  </span>
                </div>
            </div>
          </div>

          <div class="msg msg-continution">
            <div class="message message-out message-chat">
                <span class="tail-container"></span>
                <div class="buble buble-text">
                  <span class="message-text">
                    并不好，亲爱的
                  </span>
                </div>
                <div class="msg-info">
                  <span></span>
                  <span class="msg-time">09:50</span>
                  <span></span>
                </div>
            </div>
          </div>

          <div class="msg">
            <div class="message message-out message-chat">
                <span class="tail-container"></span>
                <div class="buble buble-text">
                  <span class="message-text">
                    并不好，亲爱的
                  </span>
                </div>
            </div>
          </div>
        </div>            
    </div>

    <div class="emoji-box">
    </div>
    <!--输入框-->
    <div class="base-chatbox-input">
        
        <div class="emoji-btn am-u-md-1">
          <i data-emoji-open class="am-icon-smile-o"></i>
        </div>
        
        <!--文字输入-->
        <div class="word-input am-u-md-10">
          <div contentEditable=true class="word-input-div">
          </div>
        </div>
        
        <!--语音输入-->
        <div class="audio-input am-u-md-1">
          <i data-audio-input class="am-icon-microphone"></i>
        </div>

    </div>

  </div>
</div>